<div class='row' id='api-key-index'>
  <div class='col-sm-12'>
    <div class='card-box table-responsive'>
      <%= render 'shared/table_header',
                 title: '接口管理',
                 tooltip_message: "<h6>接口管理</h6>",
                 link: new_api_manage_path %>
      <table id='datatable-responsive'
             class='table table-striped table-bordered dt-responsive nowrap'
             cellspacing='0' width='100%'>
        <thead>
          <tr>
            <th data-priority='1'>名称</th>
            <th data-priority='1'>管理</th>
            <th data-priority='1'>时间戳</th>
            <th data-priority='4'></th>
          </tr>
        </thead>
        <tbody>
          <% api_manages.each do |api_manage| %>
            <tr data-qa='datatable-row'>
              <td><%= api_manage.api_name %></td>
              <td><%= ApiManage.manage_types.invert[api_manage.manage] %></td>
              <td>
                <% if api_manage.api_name == 'download' %>
                <%= Category.last_updated_at.to_i %>
                <% elsif api_manage.api_name == 'resolution' %>
                <%= CategoryFormula.last_updated_at.to_i %>
                <% end %>
              </td>
              <td>
                <%= link_to edit_api_manage_path(api_manage) do %>
                  <span class='primary glyphicon glyphicon-pencil' alt='Edit' data-qa='api_manage-<%= api_manage.api_name %>-edit'></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type='application/javascript'>
  <%= render 'shared/data_tables.js.erb',
             column_ordering: raw([[1, 'asc']]),
             column_defs: 2 %>
</script>
