<div class='row' id='api-key-index'>
  <div class='col-sm-12'>
    <div class='card-box table-responsive'>
      <%= render 'shared/table_header',
                 title: 'APP',
                 tooltip_message: "<h6>APP</h6>",
                 link: new_app_path %>
      <table id='datatable-responsive'
             class='table table-striped table-bordered dt-responsive nowrap'
             cellspacing='0' width='100%'>
        <thead>
          <tr>
            <th data-priority='1'>名称</th>
            <th data-priority='1'>编号</th>
            <th data-priority='1'>KEY</th>
            <th data-priority='1'>SECRET KEY</th>
            <th data-priority='1'>公司名称</th>
            <th data-priority='1'>登记时间</th>
            <th data-priority='1'>状态</th>
            <th data-priority='1'>备注</th>
            <th data-priority='4'></th>
          </tr>
        </thead>
        <tbody>
          <% apps.each do |app| %>
            <tr data-qa='datatable-row'>
              <td><%= app.app_name %></td>
              <td><%= app.app_id %></td>
              <td><%= app.app_key %></td>
              <td><%= app.app_secret %></td>
              <td><%= app.firm_name %></td>
              <td><%= app.created_at %></td>
              <td><%= App.status_types.invert[app.status] %></td>
              <td><%= app.comment %></td>
              <td>
                <%= link_to edit_app_path(app) do %>
                  <span class='primary glyphicon glyphicon-pencil' alt='Edit' data-qa='app-<%= app.app_name %>-edit'></span>
                <% end %>
                <%= link_to app_path(app),
                            method: :delete,
                            data: { 'confirm-swal': Messages::CONFIRM_ACTION_DELETE } do %>
                  <span class='danger glyphicon glyphicon-trash' data-qa='app-delete-button' alt='Delete'></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type='application/javascript'>
  <%= render 'shared/data_tables.js.erb',
             column_ordering: raw([[1, 'asc']]),
             column_defs: 5 %>
</script>
