<div class='row' id='api-key-index'>
  <div class='col-sm-12'>
    <div class='card-box table-responsive'>
      <%= render 'shared/table_header',
                 title: '下载请求',
                 tooltip_message: "下载请求",
                 link: nil %>
      <table id='datatable-responsive'
             class='table table-striped table-bordered dt-responsive nowrap'
             cellspacing='0' width='100%'>
        <thead>
          <tr>
            <th data-priority='1'>APPID</th>
            <th data-priority='1'>访问IP</th>
            <th data-priority='1'>用户ID</th>
            <th data-priority='1'>访问时间</th>
            <th data-priority='1'>下发状态</th>
            <th data-priority='1'>返回状态</th>
            <th data-priority='1'>时间戳</th>
            <th data-priority='1'>IDCODE</th>
            <th data-priority='1'>IDCODE解码</th>
          </tr>
        </thead>
        <tbody>
          <% category_requests.each do |category_request| %>
            <tr data-qa='datatable-row'>
              <td><%= category_request.app_id %></td>
              <td><%= category_request.request_ip %></td>
              <td><%= category_request.appuser_id %></td>
              <td><%= category_request.request_time %></td>
              <td><%= CategoryRequest.release_types.invert[category_request.release_status] %></td>
              <td><%= CategoryRequest.exceptions.invert[category_request.request_status] %></td>
              <td><%= category_request.time_stamp %></td>
              <td><%= category_request.id_code %></td>
              <td><%= category_request.base_decode %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type='application/javascript'>
  <%= render 'shared/data_tables.js.erb',
             column_ordering: raw([[3, 'desc']]),
             column_defs: 8 %>
</script>
